html{
    font-size: 18px;
}

title{
    font-family: 'Quicksand', sans-serif;
}

.navbar-dark{
    text-align: center;
    margin-left: 1in;
    margin-right: 1in;
    color: whitesmoke!important;
    margin-top: 50px;
}

.card{
    width: 40%;
    height: auto;
    margin: 20px;
    margin-left: 105px;
    align-content: center;
    display: inline-block;
}

.card-body{
    margin: auto;
    width: auto;
    align-content: center;
    padding-top: 10%;
}

.gallery{
    text-align: center;
    display: inline;
    max-width: 50%;
    size: 10%;
    margin-top: 10px;
    color: whitesmoke;
    margin-left: 6%;
    margin-top: 10px !important;
}

.heading{
    color: whitesmoke;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.646);
    text-align: center;  
}

.icon{
    display: inline-block;
    color: ghostwhite;
}

.inner{
    position: absolute;
    right: 50px;
    font-size: 35px;
    color: black;
}

.container{
    width: 100%;
}

body{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #005aa7, #005aa7, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #005aa7, #005aa7, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    color: rgba(40, 40, 43, 0.926);
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.card-text{
    text-align: left;
}

.btn-card{
    position: absolute;
    left: 50px;
    right: 50px;
    margin-left: auto;
    margin-right: auto;
    bottom: 25px;
}

.card{
    height: 620px;
}

.card-deck{
    margin: auto;
    height: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.mb-3{
    border-width: 3px;
}

.jumbotron{
    width: 88%;
    margin: auto;
    padding-top: 10px !important;
    background-color: white;
}

.display-4{
    text-align: center;
    padding: 5px;
}

.lead{
    padding: 5px;
    text-align: left;

}
h1{
    text-align: center;
}

p{
    font-size: 20px;
}

.img-fluid{
    max-width: 100%;
    position: absolute;
    margin: auto;
    height: auto;
}

footer{
    position: absolute;
    padding: 1em;
    text-align: left
}

header{
    display: block;
    position: relative;
    padding: 1em;
}

img{
    float: center;
    padding: .2em
}

a {
    display: block;
    padding: 0em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.me{
    float: left;
    position: relative;
    bottom: 20px;
    margin-right: 20px;
}

a {
    display: block;
    color: none;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
}

a:hover {
    color: white;
    position: relative;
}