html{
    font-size: 14px;
}

title{
    font-family: 'Quicksand', sans-serif;
}

.navbar-dark{
    text-align: center;
    color: whitesmoke!important;
    margin-top: 20px;
}

.navbar-container{
    display: flex;
    justify-content: center;
}

.navbar{
    width: fit-content;
}

.card{
    width: 280px;
    height: auto;
    margin: 15px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.card-body{
    margin: 0;
    width: 100%;
    align-content: left;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.gallery{
    text-align: center;
    display: inline;
    max-width: 50%;
    size: 10%;
    margin-top: 10px;
    color: whitesmoke;
    margin-left: 6%;
    margin-top: 10px !important;
}

.heading{
    color: whitesmoke;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.646);
    text-align: center;
}

.icon{
    display: inline-block;
    color: ghostwhite;
}

.inner{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    color: black;
}

.container{
    width: 100%;
}

body{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #005aa7, #005aa7, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #005aa7, #005aa7, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgba(40, 40, 43, 0.926);
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.card-text{
    text-align: left;
}

.btn-card{
    position: relative;
    margin-top: auto;
    align-self: stretch;
}

div.card-deck{
    margin: 0 auto;
    height: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.card.bg-light.mb-3{
    border-width: 4px;
    height: auto%;
}

.jumbotron{
    width: 95%;
    margin: 20px auto;
    padding: 30px !important;
    background-color: white;
}

.display-4{
    text-align: center;
    padding: 5px;
    font-size: 2.5rem;
}

.lead{
    padding: 10px 0;
    text-align: left;
    font-size: 1.1rem;
}
h1{
    text-align: center;
}

p{
    font-size: 1rem;
}

.img-fluid{
    max-width: 100%;
    position: absolute;
    margin: auto;
    height: auto;
}

footer{
    position: absolute;
    padding: 1em;
    text-align: left
}

header{
    display: block;
    position: relative;
    padding: 1em;
}

img{
    float: center;
    padding: .2em
}

a {
    display: block;
    padding: 0em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.me{
    float: left;
    position: relative;
    bottom: 20px;
    margin-right: 20px;
}

a {
    display: block;
    color: none;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
}

a:hover {
    color: white;
    position: relative;
}